
@media only screen and (max-width : 1320px) {
  .contain {
    max-width: 970px
  }   
  .hide-1320 {
    display: none;
  }
  .show-1320 {
    display: block;
  }
  .resort-tit {
    margin-bottom: 20px;
  }



  .resort-list-li {
    margin-bottom: 15px;
  }

  .resort-list-a {
    font-size: 15px;
  }

  .resort-btn {
    margin-top: 20px;
  } 
  .rev-com-wh-txt-2 {
    line-height: 1.3;
  }
  .main {
    padding-bottom: 130px;
  }
  .artblock-r {
    width: 400px;
    max-width: 100%;
    margin-left: 60px;
  }
  .all-hts-row {
    .all-hts-col {
      width: 33.333%;
    }
  }
  .housing-col {
    width: 50%;
  }
  .col-r {
    width: 600px;
  }
  .choice-btn-scroll {
    overflow-x: scroll;
  }
  
  .search-col {
    width: 50%;
    padding: 0 10px;
  }
  .search-row {
    display: flex;    
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .room {    
    flex-direction: column;
  }
  .room-img-w {
    height: 170px;
    width: 100%;    
    border-radius: 5px 5px 0 0;
  }
  .room-cont {
    padding: 20px;    
    border-radius: 0 0 5px 5px;
  }
  .room-cont-pr-row {    
    flex-direction: column;
  }
  .room-cont-pr-txt {
    font-size: 16px;
    line-height: 19px;
  }
  .room-nb,
  .room-cont-pr-txt .room-nb {
    margin-top: 10px;
    font-size: 14px;
  }
  .room-bk-l {    
    flex-direction: column;            
    align-items: flex-start;
  }
  .room-bk-row {  
    flex-wrap: wrap;
    margin-top: 20px;    
  }
  .room-bk-r {
    width: 100%;
    margin-top: 25px;
  }
  .room-bk-l-chr {
    margin-right: 0;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  .room-bk-r-btn,
  .room-bk-r-btn-2 {
    height: 46px;
    padding: 0 16px;
    font-size: 14px;
  }
  .room-bk-r-ab {
    font-size: 14px;
  }
  .room-cont-day {
    display: none;
  }
  .room-cont-pr-row-span {
    font-size: 24px;
  }
  .room-cont-peoples {
    font-size: 12px;
    line-height: 14px;
  }
  .room-cont-project .all-ht-rating-row {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;    
    justify-content: flex-start;    
  }
  .room-bk-r-btn-2 {
    width: 100%;
  }
  .room-img-left .room-img-w {
    height: 170px;
  }
  .article-row-h {
   margin: 0 -10px; 
   display: flex; 
   flex-wrap: wrap;
 }
 .article-col {
  width: 50%;
  padding: 0 10px;
}

.room-cont-art {
  .room-cont-pr {
    margin-top: -16px;
  }
  .room-cont-pr-txt {
    min-height: 38px;
    display: block;
  }
}
.promo-col {
  width: 100%;
}
.article-col-l {
  max-width: 635px;
}
.article-col-r {
  margin-left: 30px;
}
.col-1-ph-g-gal-col {  
}
.col-1-ph-g-gal-it {
  height: 140px;
}
.article-revs,
.article-col-1-ph-g {
  margin-top: 50px;
}
.article-col-1-ph-g .col-1-ph-g-gal {
  margin-bottom: 20px;
}
.col-1-ph-g-resp-txt-2 {
  line-height: 1.4;
}
.col-1-ph-g-resp-txt-w {
  max-width: 50%;
}
.article-col-l .rat-eva-col {
   width: 180px;
 }
}





@media only screen and (max-width : 1199px) {

  .slide-count {
    display: block;
  }
  .room-img-w:hover .slick-dots {
    display: none;
    
  }
  .room-img-slider a:after {
    opacity: 1;
    visibility: visible;  
    top: auto;
    bottom: 29px;
    right: 20px;
  }
  .room-vert {
   .slide-count {
     display: none;
   } 
   .room-img-slider a:after {
     display: none;
   }
 }  
 
}

@media only screen and (max-width : 991px) {
  .contain {
    max-width: 750px 
  }    
  .resort-bot {
    padding: 20px 25px;
  }
  .resort-tit {
    font-size: 14px;
  }
  .resort-list-a {
    line-height: 1.3;
  }

  .resort-btn {
    margin-top: 0px;
  }

  .resort-control-link-active {
    padding-bottom: 20px;
    font-size: 15px;
  }

  .resort-control-link {
    font-size: 15px;
    padding-bottom: 20px;
  }
  .filter-form {  
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .filter-col,
  .btn.filter-btn {
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .filter-col {
    margin-bottom: 10px;
  }
  span.finput-line {
    width: 100%;
    left: 0;
  }
  .region-span {
    font-size: 21px;
  }
  .section {
    padding: 0;    
  }
  .main {
    padding-bottom: 80px;
  }
  .sale-txt-w {
    padding-left: 0;  
  }
  .sale-txt-1 {
    font-size: 18px;
  }
  .sale-txt-2 {
    font-size: 16px;
  }
  .head-2 {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .region-h-w {
    margin-bottom: 25px;
  }
  .foot-top-cont {
    width: 40%;
  }
  .foot-mn {
    width: auto;  
    flex-grow: 1;          
    justify-content: space-between;
  }
  .c + .c {
    margin-left: unset;
  }

  .artblock-w {
    flex-wrap: wrap;
  }
  .artblock-l {
    width: 100%;
  }
  .artblock-r {
    margin-left: 0px;
    margin-top: 25px;
  }
  .artblock-img-w {
    max-width: 100%;
  }
  .artblock-img {
    max-width: 100%;
  }
  .choice-btn-scroll {    
    overflow-x: scroll;
  }
  .main {
    
  }
  .housing-col-w {    
    flex-wrap: wrap;
    .col-r {

      margin-left: 0;
    }
    .col-l {
      width: 100%;
    }
  }

  .show-991 {
    display: flex;
  }
  .hide-991 {
    display: none;
  }
  .col-1-filter-w {
    display: none;
  }
  .filter-action-pda {
    display: flex;
    font-size: 16px;
    color: #3181F6;  
    align-items: center;
    i {
      margin-left: 5px;
      width: 17px;
      height: 17px;
      display: flex;  
      align-items: center;
      justify-content: center;
      background: url("../img/filter-icon.svg") $nr center;
    }  
  }
  .col-1-filter-map-img-w {
    height: 56px;
    width: 56px;
  }
  .col-1-filter-map-lab {
    width: 18px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .col-1-filter-map-txt-w {
    width: 100%;
    text-align: center;
  }
  .col-1-filter-map {
    margin-bottom: 30px;
  }
  .offer {
    margin-bottom: 30px;
  }
  .housing-col-w {
    position: relative;
  }
  .col-1-filter-w {
    position: fixed;
    left: 0;
    top: 0;    
    z-index: 15;        
    border-radius: 0;
    height: 100%;
    -ms-overflow-y: scroll;
    overflow-y: scroll;
  }
  .select-housing-2 {
    
  }
  .col-1-filter-w {
    max-width: 280px;
  }
  .article-col-w {    
    flex-wrap: wrap;
    .col-l {
      margin-top: 45px;
      width: 100%;
    }
    .col-r {
      order: -1;
      margin-left: 0;
      width: 100%;
    }
    .col-1-filter-h {
      margin-bottom: 20px;
    }
  }
  .promo-section {
    
  }
  .registr-col-w {    
    flex-wrap: wrap;
    .col-r {
      margin-right: 0;
      width: 100%;
      margin-bottom: 25px;
    }
    .col-l {
      width: 100%;
    }
  }
  .registr-inputs-row,
  .registr-inputs-row-2 {    
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 25px;
    margin-top: 25px;
    flex-wrap: wrap;
    .filter-col {
      width: 100%;
    }
  } 
  .registr-inputs-row-2 {    
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .registr-tit {
    margin-bottom: 15px;
  }
.artblock {
   padding-bottom: 43px;
 }
 .article-section {
   margin-top: 40px;
 }
 .article-h2 {
   margin-top: 20px;
 }
 .article-col-l {
   max-width: 100%;
 }
 .article-col-r {
   margin-left: 0;
 }
 .article-col-l .rat-eva-col {
   width: 218px;
 }
 .art-col-1-ph-g-resp {
   margin-top: 40px;
 }
 .article-col-r {
   margin-top: 40px;
 }
 .specials-13 {
   margin-top: 60px;
 }
} 

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .contain {
    max-width: 600px;
  }
  .resort-top {
    padding-left: 15px;
    padding-right: 15px;
  }


  .resort-bot {
    padding-left: 10px;
    padding-right: 10px;
  }

  .resort-row {
    margin-left: -5px;
    margin-right: -5px;
  }

  .resort-col {
    padding-left: 5px;
    padding-right: 5px;
  }


  .resort-tit {
    font-size: 14px;
  }


  .resort-list-li {
    margin-bottom: 13px;
  }

  .resort-list-a {
    font-size: 14px;
  }
  .foot-top { 
    flex-wrap: wrap; 
  }
  .c {
    width: 100%;
    margin-bottom: 18px;
  }
  .foot-mn {
    order: -1;
    width: 100%;  
    flex-wrap: wrap;
  }
  .foot-top-cont {
    width: 100%;
  }
  .region-it {
    width: calc(50% - 10px);  
    &:last-child {
      width: 100%;
      margin-bottom: 0;
    }
  }
  .region-it-w-2 {
    .region-it {    
    &:last-child {
      width: calc(50% - 10px);
    }
  }
}
  .foot-cont-txt-w {  
    &:last-child {
      margin-bottom: 0;
    }
  }

  .top-w {
    position: static;
  }


  .top {
    position: relative;
  }
  .resort-open {
   background-color: #F6F7F9;    
   box-shadow: none;             
   border-radius: 0;
   border: none;
   top: 58px;
   min-height: 100vh;
 }
 .resort-top {
  padding: 0;
  border: none;
}
.resort-bot {
  display: none;
}
.resort-btn {
  display: none;
}   
.resort-controls {  
  flex-wrap: wrap;
}
.resort-control-item {
  width: 100%;
}
.resort-control-link {
  font-size: 21px;
  padding-bottom: 0;
  min-height: 52px;
  padding: 0 17px;    
  align-items: center;
  &:after {  
    border-radius: 0px 0px 3px 3px;
    width: 3px;
    height: 52px;
    left: 0;
    top: 0;    
  }
}



.resort-control-item { 
  &.active {
    .resort-control-link {
      font-weight: 500;
      color: #606A7C;
      &:after {
        display: none;
      }
    }
  }
  &.open {
    ul.resort-child-list {
      max-height: 700px;   
      margin: 12px 0 15px 20px;       
    }
    .resort-control-link {
      &:before {
        transform: rotate(180deg);
        opacity: 1;
        filter: unset;    
      }
      &:after {
        display: block;
        background-color: #3181F6;
      }
    }
  } 
}

.resort-control-link {
  position: relative;
  width: 100%;
  &:before {
    position: absolute;
    right: 17px;
    top: calc(50% - 15px);
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    opacity: 0.4;
    filter: grayscale(100%);
    filter: gray;
    background: url("../img/small_arrow.svg") $nr 0 0;    
    transition: 0.5s;
  }
}


ul.resort-child-list {
  padding-left: 20px;  
  
  border-left: 1px solid #D0DAE9;  
  
}

li.resort-child-list-it {
  &:not(:last-child) {
    a.resort-child-link {
      display: block;
      padding-bottom: 20px;
      &:hover {
        text-decoration: none;
      }
    }  
  }
}
a.resort-child-link {
  font-size: 18px;
  color: #606A7C;
  font-weight: 500;
  line-height: 22px;
}
.show-767 {
 display: flex; 
}
.hide-767 {
  display: none;
}
.burger {
  margin-left: auto;
}
.top-btns {
  width: 100%;    
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #3181F6;
}
.resort-control-item.open ul.resort-child-list {
  width: auto;
}
.litepicker .container__months {    
  flex-wrap: wrap;
  width: calc(var(--litepicker-month-width) + 50px);
}

.litepicker .container__months .month-item {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  &:nth-child(1) {
    padding-left: 20px;
    padding-right:20px;
  }
  &:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.arr-up {
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 102px;
}
.artblock-r {
  display: none;
}
.all-hts-row {
  .all-hts-col {
    width: 50%;
    display: none;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      display: block;
    }  
  }
}
.region-h-w {  
  flex-wrap: wrap;
  .show-map {
    margin-top: 10px;
  }
} 
.choice-btn-ul--head {
  margin-top: 15px;
}
.gal-3-span {
  font-size: 14px;
  line-height: 17px;
}
.head-1-w {
  margin-bottom: 19px;
  .offer {
    margin-top: 15px;
    width: 100%;
  }
} 
.article-col-l .rat-eva-col {
  width: 169px;
}
.slide_1-img-w,
.slider_1:before {
  height: 327px;
}
}      

@media only screen and (max-width : 640px) {
  .contain {
    max-width: 530px;
  }
  
  
  .h1-wh {
    font-size: 24px;
    margin-bottom: 0px;
    line-height: 1.2;
  }
  .banner-subtitle {
    font-size: 16px;
  }
  .banner {
    height: 207px;  
  }
  .banner-wrap {
    top: 47px;
  }
  .filter {
    margin-top: -44px;
  }
  .filter-w {
    padding: 15px;
  }
  .show-map {
    margin-top: 30px;    
    justify-content: center;
  }
  .all-no-image {    
    justify-content: flex-end;
  }
  .section {
    margin-top: 40px;
  }
  .burger-txt {
    font-size: 16px;
    order: -1;
  }
  .burger-icon {
    margin-right: 0;
    margin-left: 15px;
  }
  .banner-2 {

  }
  .banner-wrap-2 .bread {
    margin-bottom: 15px;
  }
  .bread {
    li {
      font-size: 12px;
      &:after {        
        background-size: 5px;
      }
    }
  }

  .choice-btn-label input[type="checkbox"] + span {
    height: 36px;
    padding: 0 12px;
    font-size: 14px;
  }
  .sale {
    margin-top: 20px;
  }
  .col-r {
    width: 100%;
  }
  .promo-tit {
    font-size: 14px;
  }
  .promo-date,
  .promo-more {
    font-size: 14px;
  }
  .offer-txt-2,
  .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
  }
  .registr-bot {    
            flex-wrap: wrap;
            margin-top: 30px;
            .btn {
              width: 100%;
            }
  }
  .col-1-ph-g-gal-it {
    height: 110px;
  }
  .article-col-l {
    .rat-eva-all {      
              flex-wrap: wrap;
    }
    .rat-eva-col {
    width: 100%;
  }
  }
.rat._open .rat-open {
  max-height: 860px;
}
   
} 



@media only screen and (max-width : 570px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .choice-btn-scroll {
    margin-right: -20px;
  }
  .slick-arrow {
    display: none !important;
  }
  .gal-3-row {
    .slick-list {
      width: 642px;
    }
  }
  .choice-btn-scroll {
    margin-bottom: 12px;
  }
  .all-ht-img-w {
    height: 117px;
  }
  .all-ht-rating-txt {
    display: none;
  }
  .all-ht-rating-span {
    font-size: 12px;
  }
  .all-ht-rating {
    bottom: 10px;
    right: 10px;
  }
  .all-ht-rating-row {
    > img {
      width: 13px;
      height: auto;
    }
  }
  .all-ht-inf {
    padding: 15px 10px 20px 10px;
  }
  .all-ht-inf-a {
    font-size: 12px;
  }
  .all-ht-inf-txt-1 {
    font-size: 14px;
  }
  .all-ht-inf-geo-span {
    font-size: 12px;
    margin-left: 5px;
  }
  .all-ht-inf-geo {
    > img {
      width: 12px;
      height: auto;
    }
  }
  .all-ht-inf-txt-3-span {
    font-size: 14px;
  }
  .all-ht-inf-geo {
    margin-bottom: 15px;
  }
  .all-ht-it {
    margin-bottom: 10px;
  }
  .all-hts-row {
    margin: 0 -5px;
    .all-hts-col {
      padding: 0 5px;
    }
  } 
  .gal-3-item {
    height: 207px;
  }
  .photogal-w {

    .hotels-it {
      height: 153px;
    }
    .gal-3-txt-2 {
      font-size: 12px;
    }
    .hotels-it-txt-1 {
      font-size: 10px;    
      margin-bottom: 0;
    }
    .slick-list {
      margin: 0 -5px; 
    }
    .slick-slide {
      padding: 0 5px;
    }
  }
  .artblock-3 {
    margin-top: 10px;
  }
  .offer-txt-1 {
    font-size: 18px;
  }
  .search-col {
    width: 100%;
  }
  .article-col {
    width: 100%;
  }
  .room-cont-art .room-cont-pr-txt {
    min-height: auto;
  }
  .promo {    
    flex-direction: column;
  }
  .promo-img-w {
    width: 100%;
    height: 167px;
  }
  .promo-content {
    padding: 20px;
  }
  .registr-form {
    padding: 30px 20px;
  }
  .article-p {
    font-size: 16px;
  }
  .article-h2 {
    margin-bottom: 20px;
  }
  .slide_1-img-w, .slider_1:before {
    height: 241px;
  }
  .slider_1 {
    margin: 30px 0;
  }
  .rat-eva {
    margin-bottom: 20px;
  }
  .art-col-1-ph-g-resp {    
            flex-wrap: wrap;
  }
  .col-1-ph-g-resp-txt-w {
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
  }
}



@media only screen and (max-width : 480px) {
  .head-2 {
    font-size: 18px;
    line-height: 22px;
  }
  .stock-l-txt {
    font-size: 18px;
  }
  .article-col-1-ph-g .col-1-ph-g-gal {
    margin-top: 25px;
  }
  .hotels-w-js-1 {    
    position: relative;
    .slick-list {
      width: 480px;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0 -5px;
    }
    .slick-slide {
      padding: 0 5px;
    }
  }

  .hotels-w-js-1,
  .hotels-it {
    height: 179px;
  }
  .hotels-it-txt-1,
  .hotels-it-txt-1-span {
    font-size: 12px;
  }
  .hotels-it-txt-2 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .hotels-it-txt-1-w img {
    margin-right: 2px;
  }
  .hotels-it-txt-3 {
    margin-top: 12px;
  }
  .region-it {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
  }
  .region-span {
    padding-left: 20px;
    bottom: 20px;
  }
  .region-it {  
    box-shadow: 0px 20px 20px -10px rgba(46, 52, 68, 0.3);
    &:before {    
      background: linear-gradient(180deg, rgba(43, 53, 78, 0.4) 50%, rgba(43, 53, 78, 0.45) 75.26%, rgba(43, 53, 78, 0.85) 100%), url(.png);
    }  
  }
  .section {

  }



  .hotels-w-js-2 {    
    position: relative;
    .slick-list {
      width: 642px;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0 -5px;
    }
    .slick-slide {
      padding: 0 5px;
    }
  }  
  .hotels-w-js-2,
  .hotels-w-js-2 .hotels-it {
    height: 368px;
  }

  .sale-w-js {    
    position: relative;
    .slick-list {
      width: 642px;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0 -5px;
    }
    .slick-slide {
      padding: 0 5px;
    }
  }  
  .sale-w-js,
  .sale-w-js .sale-it-w {
    height: 279px;
  }


  .rev-it-w-js {    
    position: relative;
    .slick-list {
      width: 640px;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0 -5px;
    }
    .slick-slide {
      padding: 0 5px;
    }
  }  
  .rev-it-w-js,
  .rev-it {
    height: 395px;
  }

  .sale-it {
    height: 207px;
  }
  .sale-txt-w {
    margin-top: 20px;
  }
  .sale-txt-2 {
    font-size: 14px;
  }
  .sale-txt-w {
    padding-left: 20px;
  }
  .sale-txt-1 {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .all-promo {
    margin-top: 21px;
  }
  .rev-it {
    padding: 30px 20px;
  }
  .rev-it-top-txt {
    font-size: 12px;
  }
  .rev-txt-1 {
    font-size: 14px;
  }
  .rev-photo {
    height: 51px;
    width: 51px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  .rev-txt-1 {
    margin-bottom: 25px;
  }
  .rev-top-star {
    font-size: 14px;
  }
  .rev-photo-row {
    margin-bottom: 25px;
  }
  .rev-star-span {
    margin-right: 5px;
    width: 12px;
    height: 12px;  
    background-size: 12px;
  }
  .main {
    padding-bottom: 139px;
  }
  .foot {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .foot-cont-txt-w {
    &:first-child {
      margin-top: 50px;
    }
  }
  .foot-cont-txt-2 {
    font-size: 16px;
  }
  .foot-top {
    padding-bottom: 60px;
  }
  .foot-dw {
    padding-top: 30px;  
    flex-wrap: wrap;
  }
  .foot-dw-soc-w {
    width: 100%;
  }
  .foot-dw-txt {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .foot-dw-soc-w {  
    justify-content: center;
  }
  .foot-dw-soc {
    margin: 0 12px;
  }
  .foot-dw-soc:not(:last-child) {
    margin: 0 12px;
  }
  .foot-li {

  }
  .foot-cont-txt-1 {
    font-size: 12px;
  }
  .rev-com-wh-txt-3 {
    display: block;
  }
  .artblock-img-w {
    height: 300px;
  }
  .artblock-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .litepicker .container__months {    
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    .month-item {

      padding-left: 0;
      padding-right: 0;
      &:nth-child(1) {
        padding-left: 0;
        padding-right: 0;
      }
      &:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  } 
  .litepicker .container__months .month-item:last-child .button-next-month {
    display: none;
  }

  .litepicker {
    top: 50px !important;
    left: 0 !important;    
    content: "";
    display: block;      
    width: 100%;
    height: calc(100% + 10px);  
    background-color: #F6F7F9;
    background-color: #FFF;  
    z-index: 11;  
  }
  .container__main_before {        
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;    
    color: #fff;
    font-weight: 600;
    width: 100%;
    padding: 0 20px;
    z-index: 10000;
    display: flex;    
    align-items: center;
    background: #3181F6 url("../img/close-wh.png") $nr right 20px center;
    display: none;
    &.on {
      display: flex;
    }
  }
  .container__main_before-1 {
    position: absolute;
  }
  .litepicker .container__months .month-item {
    padding-bottom: 0;
  }
  .filter {
    &.on-2 {
      position: absolute;
      top: -60px;
      top: 0;
      left: 0;
      margin-top: 0;
      height: 100%;
      height: 100vh;      

      .contain {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        height: 100%;
      }
      .filter-w {      
        border-radius: 0;
        background-color: #FFF;
        padding: 0;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        position: relative;
      }
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100vh;        
        background: #fff;
        position: absolute;
        top: 92px;
        left: 0;
        z-index: 20;
      }
      .filter-col-persons {
        padding: 20px;
        box-shadow: 0px 20px 20px -10px rgba(46, 52, 68, 0.05);
        margin-bottom: 0;
        z-index: 22;
        border-radius: 0px 0px 10px 10px; 
        order: -1;                
      }
      input[type="text"].filter-input {
        opacity: 0;
        + .finput-line {
          display: none;
        }
      }
      .filter-persons-control-wrap {
        display: block !important;
        -webkit-border-radius: 0;
        border-radius: 0;
        box-shadow: none;
      }
      .where-persons-pda {
        display: flex;
        border-top: 1px solid #D0DAE9;
        height: 60px;
        align-items: center;
        justify-content: center;          
        color: #C2CCDA;
        position: absolute;        
        top: calc(var(--vh, 1vh) * 100 - 60px);
        left: 0px;
        width: 100%;
        z-index: 1001;
        &.on {
          color: #3181F6;
        }
      }
    } //on-2
    &.on {
      position: absolute;
      top: -60px;
      top: 0;
      left: 0;
      margin-top: 0;
      height: 100%;      
      .contain {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        height: 100%;
      }
      .filter-w {      
        border-radius: 0;
        background-color: #FFF;
        padding: 0;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        position: relative;
      }
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100vh;        
        background: #F6F7F9;
        position: absolute;
        top: 92px;
        left: 0;
        z-index: 20;
      }
      .filter-col-where {
        padding: 20px;
        box-shadow: 0px 20px 20px -10px rgba(46, 52, 68, 0.05);
        margin-bottom: 0;
        z-index: 22;
        border-radius: 0px 0px 10px 10px;      
      }
      .where-close-pda {
        width: 60px;
        height: 60px;
        top: calc(100vh - 140px);
        top: calc(var(--vh, 1vh) * 100 - 80px);
        right: 20px;        
        border-radius: 50%;
        z-index: 10001;
        position: absolute;
        display: flex;        
        background: #fff url("../img/where-close-pda.png") $nr center;
        box-shadow: 0px 10px 10px -2px rgba(46, 52, 68, 0.05);
      }
  }//on
  input[type="text"]#where_search {
    + span.finput-line {
      width: calc(100% - 40px);
      left: 20px;
      bottom: 15px;
    }    
  }
}
.filter-where-list {
  width: 100%;
  left: 0; 
  z-index: 21;
  top: 100px;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-where-delete {
  display: none !important;
}
.photogal-w {
  .slick-list {
    width: 479px;
  }
}
.banner-3 {
  height: 120px;
  .h1-wh {
    font-size: 18px;
  }
  .bread {
    margin-bottom: 18px;
    min-height: 54px;
  }
}
.banner-3 {
  .banner-wrap-2 {
    top: 15px;
  }
}

.head-2-2 {
  font-size: 18px;
  line-height: 22px;
}
.sale {
  margin-top: 40px;
}
.specials-row {
  .slick-list {
    width: 630px;
  }
}
.housing-row {
  margin-top: 0;
  margin: 0 -10px;
}
.housing-col {
  padding: 0 5px;
}
.head-1 {
  font-size: 35px;
}
.promo-section .bread {
  margin-bottom: 18px;
}
.promo-section {
  
}
input[type="text"].filter-input,
.registr-textarea {
  font-size: 14px;
}
.registr-textarea {  
  padding-left: 17px;
  background: none;
}
.registr-label-span-txt {
  font-size: 14px;
}
.registr-col-w {
  margin-top: 20px;
}
.rat._open .rat-open {
  max-height: 950px;
}
.col-1-ph-g-gal-col {
  padding: 0 5px;
}
.article-col-1-ph-g .col-1-ph-g-gal {
  margin-left: -5px;
  margin-right: -5px;
}
.col-1-ph-g-gal-it {
  height: 75px;
}
}

@media only screen and (max-width : 375px) {
  .top-btns {
    .btn, .btn-wh {   
      flex-grow: 1;
    }
  }

}

@media only screen and (max-width : 360px) {
  .rev-it-w-js .slick-list,
  .sale-w-js .slick-list,
  .hotels-w-js-2 .slick-list,
  .hotels-w-js-1 .slick-list {
    width: 580px;
  }
  .top-btns {
    .btn, .btn-wh {
      font-size: 14px;
      padding: 0 12px;                    
    }
  }
  .btn-icon {
    margin-right: 5px;
  }
  .all-hts-row .all-hts-col,
  .housing-col {
    width: 100%;
  }
  .lmnu-block {  
    max-width: 100%;
  }
  .rat._open .rat-open {
    max-height: 1050px;
  }
  .rat {
    padding: 20px;
  }
  .col-1-ph-g-gal-it {
    height: 61px;
  }
  .head-2 {
    margin-bottom: 20px;
  }
  .article-col-r {
    width: 100%;
  }
}

@media only screen and (max-width : 320px) {
  body, body > * {
    width: auto;
    min-width: 320px;
  }
}


@media only screen and (min-width : 1080px) {
  .main-mnu {
    display: block !important;
  } 

  .hidden-mnu {
    display: none;
  }
} 


