@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$font2: 'Ubuntu', sans-serif;


@import "_reset.scss";
@import "_grid.scss";
@import "_vars.scss";


a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}



body {  
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  background: #F6F7F9;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.main {  
  flex-grow: 1;
  position: relative;
}

.contain {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.lcpadding {
  padding-left: calc((100% - 1180px)/2);    
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
  }
}

.cpadding {
  padding-left: calc((100% - 1180px)/2);
  padding-right: calc((100% - 1180px)/2);
  @media only screen and (max-width : 1199px) {
    padding-left: calc((100% - 970px)/2);
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {
    padding-left: calc((100% - 750px)/2);
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {
    padding-left: calc((100% - 600px)/2);
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {
    padding-left: calc((100% - 530px)/2);
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.rcpadding {  
  padding-right: calc((100% - 1180px)/2);
  @media only screen and (max-width : 1199px) {    
    padding-right: calc((100% - 970px)/2);
  }
  @media only screen and (max-width : 991px) {    
    padding-right: calc((100% - 750px)/2);
  }
  @media only screen and (max-width : 767px) {    
    padding-right: calc((100% - 600px)/2);
  }
  @media only screen and (max-width : 640px) {    
    padding-right: calc((100% - 530px)/2);
  }
  @media only screen and (max-width : 570px) {    
    padding-right: 15px;
  }
}






.banner-subtitle {
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
}

.ui-wrap {  
  margin-bottom: 20px;
  display: flex;  
  align-items: center;
}

.filter-form {  
  display: flex;
  margin-right: -5px;
  margin-left: -5px;
}

.top-w {  
  display: flex;  
  align-items: center;
  position: relative;
}

.h1-wh {
  margin-top: 0px;
  margin-bottom: 11px;
  color: #fff;
  font-size: 45px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}



.logo {
  width: 90px;
  padding-top: 0px;
  margin-top: 11px;
}

.filter-col {
  display: block;
  padding-right: 5px;
  padding-left: 5px;    
          flex-grow: 1;
}






.top-btn-wh {
  margin-left: 10px;
}

.filter {
  margin-top: -57px;
}

.top {
  height: auto;
  padding-top: 6px;
  padding-bottom: 8px;
  background-color: #3181f6;
}

input[type="submit"].btn,
.btn {  
  height: 56px;
  padding-right: 20px;
  padding-left: 20px;  
  display: inline-flex;
  justify-content: center;  
  align-items: center;    
  border-radius: 6px;
  background-color: #216edf;
  color: #fff;    
  text-decoration: none;
  &-min {
    height: 46px;
    padding-right: 16px;
    padding-left: 16px;
    display: inline-flex;
    justify-content: center;  
    align-items: center;    
    border-radius: 6px;
    background-color: #216edf;
    color: #fff;    
    text-decoration: none;
  }
}



.btn-wh {  
  height: 56px;
  padding-right: 21px;
  padding-left: 21px;  
  display: inline-flex;  
  justify-content: center;  
  align-items: center;
  border-radius: 6px;
  background-color: #fff;
  color: #3181f6;  
  text-decoration: none;
  &-min {
    height: 46px;
    padding-right: 16px;
    padding-left: 16px;
    display: inline-flex;  
    justify-content: center;  
    align-items: center;
    border-radius: 6px;
    background-color: #fff;
    color: #3181f6;  
    text-decoration: none;
  }
}

.btn, .btn-wh, .btn-min, .btn-wh-min {
  &:hover {
    text-decoration: none;
  }
}

.btn-min {
  height: 46px;
  padding: 0 16px;
}



.btn.filter-btn {
  margin-left: 5px;  
  flex: 0 0 auto;
  flex: none;
}

.burger {  
  display: flex;
  height: 24px;
  margin-left: 30px;
  padding-top: 0px;  
  flex-direction: row;  
  align-items: center;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }  
  &.on {
    .burger-icon {
      background: url("../img/burger-2.svg") $nr center;
    }    
  }
}

.burger-icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background: url("../img/burger.svg") $nr 0 0;
  background-repeat: no-repeat;
}

.btn-icon {
  margin-right: 10px;  
  flex: 0 0 auto;
}

input[type="text"].filter-input {
  height: 56px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 18px 0px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0dae9;
  border-radius: 6px;
  color: #606a7c;
  background-color: #FFF;
}

.filter-input.date {
  background-image: url("../img/date.svg");
  background-position: 18px 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.filter-input.loc {
  background-image: url("../img/loc.svg");
  background-position: 15px 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: #606a7c;
}

.filter-input.persons {
  background-image: url("../img/persons.svg");
  background-position: 18px 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.filter-w {
  position: relative;
  margin-top: 0px;
  padding: 43px 30px 37px 20px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.85);
  box-shadow: 0 -20px 20px -10px rgba(226, 255, 38, 0.15);  
  filter: none;
  background-clip: border-box;  
  box-shadow: 0px 20px 20px -10px rgba(68, 85, 132, 0.15);
}

.banner {
  position: relative;
  height: 290px;
}

.ui {
  padding-top: 63px;
  padding-bottom: 63px;
}

.btn-w {  
  display: flex;  
  justify-content: flex-start;  
  align-items: center;
}

.banner-wrap {
  position: absolute;
  left: 0%;
  top: 95px;
  right: auto;
  bottom: auto;
  width: 100%;
}

.burger-txt {
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 14px;
}



.banner-img {
  width: 100%;
  height: 100%;  
  object-fit: cover;
  object-position: right top;
}

.logo-img {
  width: 100%;
}

.top-btns {  
  display: flex;
  margin-left: auto;  
  align-items: center;
}






.wrapper.bord {
}

.hotels {
  margin-top: 83px;  
  padding-bottom: 40px;
}

.new-objects {
  margin-top: 64px;
  padding-top: 0;
}

.contain {
}

.head-2 {
  font-weight: 600;
  font-size: 24px;
  color: #2F3544;
  margin-bottom: 36px;
}

.hotels-w {  
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.hotels-w-js {
  .slick-list {
    margin: 0 -10px;
  }
  .slick-slide {
   padding: 0 10px; 
 }
}

.hotels-it {
  width: 100%;
  height: 356px;
  display: block;  
  box-shadow: rgba(46, 52, 68, 0.3) 0px 20px 20px -10px;  
  overflow: hidden;  
  border-radius: 10px;
  position: relative;
  &:before {
    background: linear-gradient(rgba(43, 53, 78, 0.3) 50%, rgba(43, 53, 78, 0.45) 75.26%, rgba(43, 53, 78, 0.85) 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    display: block;
  }  
}

.hotels-it-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hotels-it-txt-w {
  position: absolute;
  left: 0px;
  width: 100%; 
  bottom: 27px;
  padding-left: 20px;
  padding-right: 20px;
}

.hotels-it-txt-1 {
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-bottom: 4px;
}

.hotels-it-txt-2 {
  font-weight: 600;
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.hotels-it-txt-1-w {
  display: flex;
  margin-bottom: 24px;
  margin-bottom: 0;
  img {
    margin-right: 7px;
  }
}

.hotels-it-txt-1-span {
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.hotels-it-txt-3 {
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 24px;
}

.hotels-it-txt-b {
  font-size: 14px;
}

.hotels-it-stock-span {
  top: 0px;
  position: absolute;
  left: 0px;
  font-weight: 600;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background: rgb(249, 93, 93);
  border-radius: 10px 0px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}

//<a href="#" class="arr-sl-r"></a>



.slick-arrow {
  background: url("../img/arr-sl-r.svg") center center no-repeat rgba(255, 255, 255, 0.85);
  box-shadow: rgba(46, 52, 68, 0.1) 0px 20px 20px -10px;
  backdrop-filter: blur(10px);
  display: inline-flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: -30px;
  top: calc(50% - 30px);
  font-size: 0;
  li {
    button {
      padding: 0;        
      border: none;
    }
  }
}

.slick-prev {
  display: none;
}

.arr-sl-r {
  background: url("../img/arr-sl-r.svg") center center no-repeat rgba(255, 255, 255, 0.85);
  box-shadow: rgba(46, 52, 68, 0.1) 0px 20px 20px -10px;
  backdrop-filter: blur(10px);
  display: inline-flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: -30px;
  top: 145px;
}

.region {
  padding-top: 40px;  
}

.region-h-w {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;  
  -webkit-align-items: flex-end;
  align-items: flex-end;
  .head-2 {
    margin-bottom: 0;
  }
}

.show-map {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wshow-map-span {
  font-weight: 500;
  font-size: 16px;
  color: rgb(145, 159, 179);
  margin-right: 7px;
  span {
    color: #C2CCDA;
  }
}

.region-it-w {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -5px;
}

.region-it {
  display: block;
  width: calc(33.3333% - 13px);
  
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  height: 270px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(43, 53, 78, 0.3) 70.93%, rgba(43, 53, 78, 0.45) 85.61%, rgba(43, 53, 78, 0.85) 100%); 
  }  
}

.region-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.region-span {
  font-weight: 600;
  font-size: 24px;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  bottom: 20px;
  padding-left: 20px;
}

.sale {

  padding-top: 40px;
  padding-bottom: 40px;
}

.sale-w {  
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: -5px;
  .slick-list {
    margin:  0 -10px;
  }
  .slick-slide {
    padding: 0 10px;
  }
  .slick-arrow {
    top: 180px;
  }

}

.sale-it-w {
  display: block;
  width: 100%;
}

.sale-it {
  width: 100%;
  display: block;
  background: linear-gradient(rgba(43, 53, 78, 0) 50%, rgba(43, 53, 78, 0.45) 75.26%, rgba(43, 53, 78, 0.85) 100%), url(".png");
  box-shadow: rgba(46, 52, 68, 0.3) 0px 20px 20px -10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 412px;
}

.sale-it-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sale-txt-w {
  margin-top: 33px;
  padding-left: 18px;
}

.sale-txt-1 {
  font-weight: 600;
  font-size: 21px;
  color: rgb(47, 53, 68);
  margin-bottom: 12px;
}

.sale-txt-2 {
  font-weight: 500;
  font-size: 18px;
  color: #919FB3;
}

.rev {

  padding-top: 40px;
  padding-bottom: 180px;
}

.rev-it-w {  
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: -5px;
  .slick-list {
    margin: 0 -10px;
  }
  .slick-slide {
    padding: 0 10px;
  }
}

.rev-it {
  background: rgb(255, 255, 255);
  box-shadow: rgba(46, 52, 68, 0.05) 0px 20px 20px -10px;
  border-radius: 10px;  
  width: 100%;
  padding: 40px 30px;
}

.rev-it-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rev-it-top-txt {
  font-weight: 500;
  color: #919FB3;
  font-size: 14px;
}

.rev-top-star {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 16px;
  color: rgb(113, 119, 131);
}

.rev-star-span {
  background-image: url("../img/star-yell.svg");
  background-repeat: no-repeat;
  background-position: left top;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  flex: none;
}

.rev-txt-1 {
  margin-top: 4px;
  font-weight: 600;
  font-size: 21px;
  color: rgb(47, 53, 68);
  margin-bottom: 28px;
}

.rev-photo-row {
  display: flex;
  margin-bottom: 33px;
}

.rev-photo {
  display: inline-flex;
  width: 46px;  
  justify-content: center;  
  align-items: center;
  height: 46px;  
  border-radius: 6px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.rev-photo-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.rev-photo-img-span {
  font-weight: 600;
  font-size: 18px;
  color: rgb(255, 255, 255);
  position: absolute;
}

.rev-com-wh {  
  margin-bottom: 17px;
}

.rev-com-wh-txt-1 {
  font-weight: 600;
  font-size: 16px;
  color: rgb(47, 53, 68);  
  display: inline;
}

.rev-com-wh-txt-2 {
  font-weight: 500;
  font-size: 14px;
  color: #919FB3;
  display: inline;
  
}

.rev-com-wh-txt-3 {
  color: #C2CCDA;
  font-size: 14px;
}

.rev-com {
}

.rev-com-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: rgb(113, 119, 131);
  margin-bottom: 11px;
}

.rev-com-a {
  font-weight: 500;
  font-size: 14px;
  color: rgb(49, 129, 246);
  display: flex;
  align-items: center;
}

.rev-com-span {
  background-image: url("../img/arr-dw-blue.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
  height: 10px;
  margin-left: 8px;
}

.foot {
  background: rgb(47, 53, 68);
  padding-top: 80px;
  padding-bottom: 25px;
  position: relative;
}

.foot-top {
  display: flex;
  padding-bottom: 36px;
}

.foot-top-cont {
  width: 51.6%;
}

.foot-cont-txt-w {
  margin-bottom: 30px;
}

.foot-cont-txt-1 {
  font-weight: 500;
  font-size: 14px;
  color: rgb(145, 159, 179);
  margin-bottom: 15px;
}

.foot-cont-txt-2 {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.foot-mn {
  display: flex;
  width: 50%;
}

.c {  
  + .c {
    margin-left: 86px;
  }
}

.foot-li {
  margin-bottom: 18px;
}

.foot-a {
  font-weight: 500;
  font-size: 14px;
  color: #919FB3;
}

.foot-dw {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.foot-dw-txt {
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}

.foot-dw-soc-w {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.foot-dw-soc {
  display: inline-flex;
  &:not(:last-child) {
    margin-right: 26px;
  }
}

.arr-up {
  background: url("../img/arr-up.svg") center center no-repeat rgba(255, 255, 255, 0.85);
  box-shadow: rgba(46, 52, 68, 0.1) 0px 20px 20px -10px;
  backdrop-filter: blur(10px);
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  right: 10px;
  bottom: 305px;
  display: none;
}


.resort-open {
  background: #FFFFFF;
  box-shadow: 0px 20px 20px -10px rgba(68, 85, 132, 0.15);
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 2;
  border-radius: 10px;
  display: none;
}

.resort-top {
  padding: 31px 30px 0px;
  border-bottom: 1px solid rgb(194, 204, 218);  
}

.resort-controls {
  display: flex;
  justify-content: space-between;
}

.resort-control-item {
}

.resort-control-link-active {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgb(47, 53, 68);
  padding-bottom: 28px;
  display: inline-flex;
}

.resort-control-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgb(96, 106, 124);
  display: inline-flex;
  padding-bottom: 28px;
}

.resort-bot {
  padding: 41px 30px 30px;
}

.resort-row {
  margin-left: -22px;
  margin-right: -22px;
  display: flex;
  flex-wrap: wrap;
}

.resort-col {
  width: 25%;
  padding-left: 22px;
  padding-right: 22px;
}

.resort-it {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
}

.resort-tit {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 30px;
  min-height: 20px;
}

.resort-list {
}

.resort-list-li {
  margin-bottom: 20px;
}

.resort-list-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(113, 119, 131);
  display: block;
}

.resort-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), rgb(194, 204, 218);
  border-radius: 5px;
  height: 46px;
  color: rgb(145, 159, 179);
}

@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";